<div class="container pt-2">
<div class="d-flex justify-content-center h4"><span class="badge badge-pill badge-info">All Categories</span></div>
 <div class="row">
        <% @tags.each do |tag| %>
             <div class="col col-lg-2 col-md-2 col-sm-6 col-xs-6 pt-2">
                 <%= link_to homes_show_path(category: tag.title ),:style=>'text-decoration:none' do%>
                    <div class="card category-card">
                        <div class="card-body">
                         <% if tag.image.present? %>
                                <%= image_tag tag.image_url , :class =>'profile2 img-fluid rounded-circle'%>
                            <%end%>
                            <h6 class="card-title"><%=tag.title%></h6>
                            <span><%= tag.listings.size%> Listings</span>
                     </div>
                </div>
            </div>
            <%end%>
        <%end%>
 </div>
 </div>