<footer class="pt-4 footer1 text-white">
     <div class="row">
        <div class="col-md-4">
         <h5 class="text-white ml-3">MNRYP</h5>
         <p>Here comes logo or location map</p>
        </div>
        <div class="text-white col-md-4 ">
            <h5 class="text-white">Contacts</h5>
            <h6 class="text-white">Address:</h6>
            <address>5<sup>th</sup> Street, Bheemdatanagar Bazar</address>
            <h6 class="text-white">Email:</h6>
            <address>info@narmadainfosys.com</address>
            <h6 class="text-white">Phone: Sagar Pant</h6>
            <p>9898989898</p>
        </div>
        <div class="col-md-4 ">
        <h5 class="text-white">Follow Us</h5>
        <ul class="list-unstyled">
        <li><a href="https://www.facebook.com/mnryp/">
             <i class="fab fa-facebook fa-2x"></i></a></li><br>
        <li><a href="https://www.facebook.com/fooding.mnryp">
        <i class="fab fa-facebook fa-2x"></i></a></li>
       <!----- <li><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>--->
        <!-----<li><a href="#"><i class="fab fa-instagram fa-2x" style="color:#be113d"></i></a></li>--->
       <!----- <li><a href="#"><i class="fab fa-youtube fa-2x" style="color:#cc1e1e"></i></a></li>--->
        </ul>
        </div>
     </div>
    <hr>
    <!---------copyright---------------->
    <div class="footer-copyright py-3 footer2"> © Copyright <%= Time.now.year %>:All right reserved. Narmada Infosys</div>
</footer>