<div id="comments">
<div class="row">
  <div class="col-sm-1">
    <div class="thumbnail">
      <img class="img-fluid user-photo rounded" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
    </div><!-- /thumbnail -->
  </div>
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
       <strong class="mr-auto"><h5 class="ext-primary"><%= comment.name %></h5></strong>
       <small class="text-muted"><small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small></small>
      </div>
      <div class="panel-body">
          <div class="ml-2" ><%= comment.body %> </div>
      </div><!-- /panel-body -->
    </div><!-- /panel panel-default -->
  </div>
</div><!-------end of row-------->
</div>