<% content_for :title, "Tourism Places" %>
  <%= render 'Homepage/navmenu.html.erb' %>

                       

        <!-----------------cards section started------------------------------------->
                      <div class="table-container">
                                
                          <div id="table" class="table table-filter">
                              <div class="row">
                                  <% @Tourists.each do |tourist| %>
                                  
                                          <div class="card cardme mt-4">
                                      
                                        
                                              <div class="card-block">
                                                <h4 class="card-title mt-3"><%= tourist.place_name %></h4>
                                              <div class="meta">
                                                  <a> <%= tourist.location%> </a>
                                              </div>
                                              
                                          </div>
                                          <div class="card-footer">
                                              <span class="float-right"><i class="fas fa-mobile-alt"></i> <%= tourist.contact %></span>
                                          </div>
                                        
                                    </div>
                                      <% end %>	
                                </div>
                            </div>
                            </div>
          
            <!-----------------cards section ends------------------------------------------------>
  
