<%= render 'Homepage/navmenu.html.erb' %>
<%= content_for :recaptcha_js do %>
  <%= include_recaptcha_js %>
  <% end %>
<%@type=params[:category] %>
<div class="form_wrapper">
    <div class="form_container">
      <div class="row clearfix">
        <div class="">
          <div class="container">
              <%= render partial: "form", type: @type %>
          <div>
        </div>
      </div>
    </div>
</div>