<html>
<head>
    <!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@3/dist/algoliasearchLite.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>

</head>
<body>
<!---header--------->
<%= render 'Homepage/header.html.erb' %>
<!-----category cards---->
<div class="container-fluid">
    <%= render 'Homepage/categorycard.html.erb' %>
</div>
</body>
</html>