<% content_for :title, "Tools-MNRYP" %>
<%= render 'Homepage/navmenu.html.erb' %>


<div class="container-fluid mt-2">
	<div class="row">
		<div class="col-md-8">
			 <iframe src="https://saralnepali.com/widgets/nepali-calendar.php" frameborder="0" scrolling="yes" marginwidth="0" marginheight="0" style="border:none; overflow:hidden; width:100%;height:800px" allowtransparency="true"></iframe>
		</div>
		<div class="col-md-4">
			<iframe src="https://ramropatro.com/widgets/nepali-date-converter.php" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" style="border:0; overflow:hidden; width:100%; height:250px; margin-top: 0px;" allowtransparency="true"></iframe>

			<iframe src="https://www.ashesh.com.np/rashifal/widget.php?header_title=Nepali Rashifal&header_color=f0b03f&api=572140l036" frameborder="0" scrolling="yes" marginwidth="0" marginheight="0" style="border:none; overflow:hidden; width:100%; height:600px; border-radius:5px;" allowtransparency="true">
			</iframe>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<iframe src="https://www.ashesh.com.np/weather/widget.php?title=Nepal Weather Observation&header_color=00a2e2&api=572141l158" frameborder="0" scrolling="yes" marginwidth="0" marginheight="0" style="border:none; overflow:hidden; width:100%; height:400px; border-radius:5px;" allowtransparency="true">
			</iframe>
		</div>
		<div class="col-md-6">
			<iframe src="https://www.ashesh.com.np/gold/widget.php?api=572148l372&header_color=0077e5" frameborder="0" scrolling="yes" marginwidth="0" marginheight="0" style="border:none; overflow:hidden; width:100%; height:500px; border-radius:5px;" allowtransparency="true">
			</iframe>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		<iframe src="https://www.ashesh.com.np/forex/widget2.php?api=572142l463&header_color=38b45e&background_color=faf8ee&header_title=Nepal%20Exchange%20Rates" frameborder="0" scrolling="yes" marginwidth="0" marginheight="0" style="border:none; overflow:hidden; width:100%; height:500px; border-radius:5px;" allowtransparency="true">
		</iframe>
	</div>
	<div class="col-md-6">
		<iframe src="https://www.ashesh.com.np/panchang/widget.php?header_title=Nepali Panchang&header_color=e6e5e2&api=572147l483" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" style="border:none; overflow:hidden; width:100%; height:500px; border-radius:5px;" allowtransparency="true">
</iframe>
	</div>
</div>
</div>
<div class="container">
	<iframe width="100%" height="400" frameborder="0" border="no" scrolling="no" marginwidth="0" marginheight="0" allowtransparency="true" src="https://www.ashesh.com.np/linknepali-unicode3.php?api=612146l441">
</iframe>
</div>

