<%= render 'shared/navmenu.html.erb' %>

    <div class="about-section paddingTB60 gray-bg">
        <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                 <div class="about-title clearfix">
                    <h1>About <span>MNRYP</span></h1>
                    <h3>महेन्द्रनगरको आफ्नो सर्च इन्जिन </h3>
                    <p class="about-paddingB text-justify">Mnyrp is Mahendranagar's local search engine which provides users with information regarding Mahendranagar. It's a search engine based on the products and services available in Mahendrangar, which makes it easier for users to search and locate the things they're looking for. With an aim of reducing digital divide in our country, Mnyrp focuses on providing the technological facilities to the residents of local areas.
                        From products like clothes, electronics to services like rental, repair and other necessities like food, hospitals, every detail available in Mahendranagar can be searched using the search engine. This makes it a lot easier and convenient for locals and other people to find the service they're looking for in a click without much of a hassle.</p>
                     <div class="about-icons"> 
                         <ul >
                            <li><a href="https://www.facebook.com/mnryp/" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a> </li>
                            <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a> </li>
                            <li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a> </li>
                         </ul>       
	                 </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <%= image_tag("barasingha.png",class: "img-fluid") %> 
            </div>
          </div>
      </div>
    </div>
