<% content_for :title, "About Us-MNRYP" %>
<%= render 'Homepage/navmenu.html.erb' %>

<div class="container">
    <div class="row">
      <div class="col-md-6">
            <h1 class="form_title"><span class="">About</span> <span class="mnryp_word">MNRYP</span></h1>
            <h3>महेन्द्रनगरको आफ्नो सर्च इन्जिन </h3>
            <p class="text-muted text-justify"><%= t('about_us_text') %></p>
           <hr />
                 <ul class="list-group list-group-horizontal">
                    <li class="list-group-item"><a href="https://www.facebook.com/mnryp/" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a> </li>
                    <li class="list-group-item"><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a> </li>
                    <li class="list-group-item"><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a> </li>
                 </ul>       
    </div>
    <div class="col-md-6">
        <%= image_tag("barasingha.png",:class=>"img-fluid",:style=>"max-height:100%") %> 
    </div>
  </div>
</div>
