#listing_name, #listing_address, #listing_phone, #listing_owner, #listing_description{
    width: 100%;
}

button{
	background-image:none !important;
}
.btn {
	background-image:none !important;
	background-color:cadetblue !important;
}