
.button{
	background-color:#ff8f00 !important;
	border-radius:10%;
	width:50%;
	font-size:1rem;
}
.button:hover{
	background-color:#e65100 !important;
}
.btn {
	background-image:none !important;
	background-color:cadetblue !important;
}

.cancel-button{
	background-color:#f1f1f1 !important;
	border-radius:10%;
	width:50%;
	font-size:1rem;
}
.cancel-button:hover{
	background-color:#ff5c33 !important;
}

