
.aa-dropdown-menu {
  width: 100%;
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
  display: inline-block;
}
.aa-suggestion {
  padding: 6px 12px;
  cursor: pointer;
  text-align: start;
  width: 100%;
}
.aa-suggestions-category {
  border-bottom: 1px solid rgba(228, 228, 228, 0.6);
  border-top: 1px solid rgba(228, 228, 228, 0.6);
  padding: 6px 12px;
}
.aa-dropdown-menu > div {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
.aa-empty {
  padding: 6px 12px;
}

.algolia-autocomplete {
  display: flex!important;
  flex: auto!important;
  height: 100%;
}

#custom-search-input{
  width: 68vw;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
  align-content: center;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
  display: inline;
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;
}

//css for search display page
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.searchresultcard{
height: 50%;
}
.cardimage{
  height:30px;
  width: auto;
}
